body
{
	background-color: #FFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1em;
	color: #0A385A;
	text-align: center;
}

.myBox {
    margin: 20px auto;
    margin-bottom: 5px;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #B41621;
    /* Do rounding (native in Firefox and Safari) */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

label
{
	font-weight: bold;
}

.entete
{
	width: "100%";
	background-color: #EEE;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	color: #0A385A;
	margin-bottom: 5px;
	font-size: 1.5em;
}

.logo
{
	float:left;
	width: 30%;
	text-align: center;
}

.cartouche_connexion
{
	float: left;
	width: 69%;
	color: #0A385A;
	margin-bottom: 10px;
	text-align: left;
}

.cartouche
{
	float: left;
	width: 69%;
	color: #0A385A;
	margin-bottom: 10px;
	text-align: left;
}

.eduroam
{
	float: right;
	width:30%;
	margin:0px;
}

.mention_eduroam
{
	font-size: 0.7em;
}

#registered
{
	color: #0A385A;
}

.button
{
	background-color: #EEE;
	color: #0A385A;
}

hr
{
        clear: both;
        width: 95%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
}
